<p>Здравствуйте!</p> <br />

<p>Спасибо за регистрацию в нашем сервисе.</p>
<p>Данные по вашему проекту были проанализированы. Результаты аудита вы можете посмотреть в вашем личном кабинете.</p><br />

<p>Для доступа используйте следующие логин и пароль:</p>
<p>Адрес: dev.digitalreactor.io:8080</p>
<p>Логин: {{email}}</p>
<p>Пароль: {{password}}</p><br />

<p>С уважением, команда Digital Reactor.</p>