<div class="report-block">
    <div class="report report-visits-during-month">
        <div class="report-title">
            Источники переходов на сайт
        </div>
        <div class="row report-graphic-block">
            <div class="col-md-8 report-graphic-space">
                <div id="columnchart_values" style="height: 300px;"></div>
            </div>
            <div class="col-md-4 report-graphic-description">
                <div class="report-h3">За последнюю неделю:</div>
                <div class="report-graphic-description-text">{{description}}</div>
            </div>
        </div>
        <div class="row report-reason-block">
            <div class="col-md-12 report-reason">
                <div class="report-section">Комментарий:</div>
                <div class="report-reason-text">{{reason}}</div>
            </div>
        </div>
    </div>
</div>
